body{
    position: relative;
    min-height: 100vh;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    padding: .2rem 1rem;
    list-style: none;
    background-color: #e9dddd;
    border-radius: .25rem;
    margin: 0;
}
.breadcrumbs li a{
    color: #365b24;
}

.bg-1 {
    padding: 20px 0;
    background-color: #365b24;
    color: #ffffff;
}

.bg-2 {
    background-color: #e9dddd;
    color: #0a0a0a;
}
.bg-3 {
    background-color: #365b24;
    color: #ffffff;
}
.bg-4 {
    background-color: #750310;
    color: #ffffff;
}
.bg-5 {
    background-color: #750310;
    color: #ffffff;
}
.bg-6 {
    color: #ffffff;
}

.task-1{
    background: #750310;
}
.task-2{
    background: #a2202f;
}

#container > div{
    margin: auto;
}

.img-circle{
    margin: 0 auto;
    display: block;
    width: 200px;
    border: 8px solid #2D4D1E;
}

.link{
    color: #365b24;
}

.link:visited{
    color: #365b24;
}
.link:hover{
    color: #17280F;
}

#snowflake{
    width: 20px;
    height: 20px;
}

table, td {
    color: #ffffff;
    border: 2px solid #cababa;
    padding: 5px;
    margin: 15px;
    background-color: #365b24;
}
table{
    width: 100%;
}
th{
    border: 2px solid #cababa;
    background-color: #750310;
    padding: 5px;
    margin: 15px;
}

.demo {
    margin-top: -15px;
}

.demo_images_parts {
    position: absolute;
}

#modal_demo {
    width: 100%;
}

.task-cell{
    width: 75%;
}
.game-preview{
    max-height: 200px;
    margin: 0 20px 20px 20px;
}

div .green-background, .btn-green{
    background-color: #365B24;
    color: white;
}
.btn-green:hover{
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button-green{
    background-color: #365B24;
    color: white;
    border-color: #365B24;
}

.button-green:hover{
    background-color: #17280F;
    color: white;
    border-color: #17280F;
}

.button-green:focus{
    background-color: #17280F;
    color: white;
    border-color: #17280F;
    box-shadow: 0 0 0 0.2rem rgb(23, 40, 15, .5);
}

.card{
    margin: 10px 20px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
}
