.bg-1 {
    padding: 20px 0;
    background-color: #365b24;; /* Green */
    color: #ffffff;
}

.img-circle{
    margin: 0 auto;
    display: block;
    width: 200px;
    border: 8px solid #2D4D1E;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
